*
    padding: 0
    margin: 0
    box-sizing: border-box
body
    font-family: sans-serif
    font-size: 24px
.container
    max-width: 75%
    margin: 0 auto
.button
    border-radius: 5px
    background: #002ad0
    padding: 15px 35px
    height: 50px
    border: none
    color: #fff
    font-size: 16px
    font-style: normal
    font-weight: 700
    cursor: pointer
.button
    &-prev
        margin-right: 10px
.button-submit
    display: none
    margin-right: 10px
.second-tab
    display: none
.form
    &-wrapper
        height: 100vh
        display: flex
        justify-content: center
        align-items: center
        flex-direction: column
    &-box
        width: 66%
        box-shadow: 6px 8px 19px 5px rgba(34, 60, 80, 0.2)
        border-radius: 5px
        display: flex
        justify-content: space-between
        flex-direction: column
        gap: 10px 0
        padding: 30px
        position: relative
    &-tab
        display: none
    &-buttons
        display: flex
        justify-content: end
    &-radio--wrapper
        display: flex
        align-items: center
        margin-top: 10px
        label
            margin-left: 5px
.stocks
    scroll-behavior: smooth
    padding-top: 50px
    height: 100vh
    &-list
        list-style: none
        &__item
            display: flex
            border-radius: 10px
            background: #FFF
            box-shadow: 0px 3px 16px 0px rgba(144, 144, 144, 0.20)
            padding: 20px
            color: #000
            font-style: normal
            font-weight: 400
            line-height: normal
            display: none
.active
    display: block